body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(270deg,rgb(252, 148, 217),#bdf86f);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i{
  cursor:pointer;
}
nav{
  background-color:#00000a ;
}
.login{
  margin-top: 30px;
  height: auto;
  width: 50%;
  /* background-color: rgb(247, 223, 252); */
  padding: 10px;
}
.Home{
  height:auto;
  width: 70%;

}
.bg-input {
  background-color: rgb(250, 217, 234);
}
.bg-notes{
  background-color: rgb(183, 215, 245);
}
.SignUp{
  justify-content: end;
}
.icon-container {
  position:relative;
  top:2px;
  size:fixed;
  height: 20px;
  width:60px;
  margin: 0px;
  padding: 0px;
}
.title-container
{
  width: 230px;
  height:auto;
}